/doc/chap*html
/doc/chap*txt
/doc/*.js
/doc/*.css
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/manual.six
/doc/polentabib.xml.bib

/tmp/
